<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/main-layout}" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JCS Corporation</title>
</head>

<body>
    <div layout:fragment="content">
        <div class="content-header">
            <div class="container-fluid">
                <h1 class="m-0">Leave Applications</h1>
            </div>
        </div>

        <!-- Alerts -->
        <script th:if="${param.approved}">
            document.addEventListener('DOMContentLoaded', function () {
                toastr.success('Leave Successfully Approved!');
            });
        </script>
        <script th:if="${param.rejected}">
            document.addEventListener('DOMContentLoaded', function () {
                toastr.error('Leave Successfully Rejected!');
            });
        </script>

        <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example3" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Applied</th>
                            <th>Department</th>
                            <th>Leave Type</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="leaves : ${leave}" th:data-id="${leaves.id}" data-toggle="modal"
                            data-target="#modal-view-leave" style="cursor: pointer;">
                            <td
                                th:text="${leaves.user.firstname + ' ' + leaves.user.middlename + ' ' + leaves.user.lastname}">
                            </td>
                            <td th:text="${#temporals.format(leaves.dateApplied, 'MMMM dd, yyyy')}"></td>
                            <td th:text="${leaves.user.department.departmentName}"></td>
                            <td th:text="${leaves.leaveType}"></td>
                            <td><span class="badge badge-warning" th:if="${leaves.status == 'Pending'}">
                                    Pending
                                </span>

                                <span class="badge badge-success" th:if="${leaves.status == 'Approved'}">
                                    Approved
                                </span>

                                <span class="badge badge-danger" th:if="${leaves.status == 'Rejected'}">
                                    Rejected
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="modal fade" id="modal-view-leave">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Leave Application</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <form th:action="@{/leave_applications_update}" method="post">
                        <div class="modal-body">

                            <input type="hidden" id="leaveId" name="id">

                            <p><b>Name: </b><span id="leaveName"></span></p>
                            <p><b>Position: </b><span id="leavePosition"></span></p>
                            <p><b>Department: </b><span id="leaveDepartment"></span></p>
                            <p><b>Reason: </b><span id="leaveReason"></span></p>
                            <p><b>Status: </b><span id="leaveStatus" class="badge"></span></p>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group" id="commentContainer">
                                        <!-- Column 1 -->
                                        <label for="firstname">Comment</label>
                                        <textarea type="text" class="form-control" name="comment"
                                            placeholder="Enter Comment"></textarea>
                                    </div>
                                </div>
                            </div>
                            <p id="leaveCommentContainer"><b>Comment: </b><span id="leaveComment"></span></p>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <div class="ml-auto" id="leave-action-buttons">
                                <button type="submit" class="btn btn-success" name="status" value="Approved">
                                    Approve
                                </button>

                                <button type="submit" class="btn btn-danger" name="status" value="Rejected">
                                    Reject
                                </button>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>